* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./abstract-digital-sound-wave-music-beats-background_43989-11.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Architects Daughter", cursive;
}
.container {
  margin-top: 20rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}
.drumkit {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
}

.drum-item {
  border: 4px solid black;
  padding: 1rem;
  border-radius: 6px;
  background-color: #00000059;
  transition: all 0.07s ease;
}
.drum-item h1 {
  color: white;
}
.drum-item p {
  color: #12ee72;
}

.active {
  border-color: #12ee72;
  transform: scale(1.1);
  box-shadow: 0 0 1rem #12ee72;
  text-shadow: 0 0 0.5rem #12ee72;
}
